venv/
*.pyc
__pycache__/
.idea/
logs/*
option-trader-image.tar
cache/
clientportal.gw/
resources/service_account.json
utilities/meitav/meitav_accounts.json
utilities/finance_updater/config.json
frontend/dist
frontend/node_modules
scripts.tar.gz
frontend.tar.gz
.coverage
htmlcov/
.pytest_cache/
.coverage.*